# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/lcov.info
coverage/lcov-report/src/mock-data.js.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/components/NumberOfEvents.jsx.html
coverage/lcov-report/src/components/index.html
coverage/lcov-report/src/components/EventList.jsx.html
coverage/lcov-report/src/components/Event.jsx.html
coverage/lcov-report/src/components/CitySearch.jsx.html
coverage/lcov-report/src/App.jsx.html
coverage/lcov-report/src/api.js.html
coverage/lcov-report/sorter.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/prettify.js
coverage/lcov-report/prettify.css
coverage/lcov-report/index.html
coverage/lcov-report/favicon.png
coverage/lcov-report/block-navigation.js
coverage/lcov-report/base.css
coverage/coverage-final.json
coverage/clover.xml
zips/meet4.4.rar
zips/meet4.5.rar
zips/meet4.6.rar
coverage/lcov-report/src/components/Alert.jsx.html
zips/meet4.7.pdf
zips/meet4.8.rar
